section
    h1 Scelte etiche di 
    h2 socialbusinessworld.org
    br
    h3 economia solidale e software libero
    //br
    //p
        small Created by 
            a(href="http://www.lucaferroni.it") Luca Ferroni 
            span  / 
            a(href="http://twitter.com/ferodafabriano") @ferodafabriano

section(data-background-transition="zoom",data-transition="convex",data-background="imgs/michele_and_I_and_juho.jpg")
    h1 the SBWTECH team

section(data-background="imgs/juho.jpg").fullcover
    h1 Juho is there!

section
    h1 Etica di un software
    h3.fragment pensato per le persone
    h3.fragment organizzato per la partecipazione
    h3.fragment rivolto ad un mondo migliore

section
    section
        h2 What's your name?
        fragment
            h3 aka: what's your service domain name?
            br
            a(href="#").navigate-down
                img(width="178",height="238",data-src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png",alt="Down arrow")

    section
        h1 Social Business
        ol
            li Obiettivo risolvere uno o più problemi sociali
            li Autosostenibilità economica e finanziaria
            li I finanziatori devono rientrare del solo capitale investito
            li I profitti dell’impresa restano al suo interno per miglioramenti ed espansioni
            li Rispetto dell'ambiente e delle differenze
            li La forza lavoro dell’impresa riceve stipendi e salari di mercato con migliori condizioni lavorative
            li ... Si fa con gioia!

        p
            small Fonte 
                a(href="https://socialbusinessworld.org/pages/view/8969/che-cosa-e-un-social-business#.Vz1jbbOxVqg") socialbusinessworld.org

    section
        h1 Top Level Domain ".org"
        p Per rivolgersi alla comunità (community)
        p
            small Fonte 
                a(href="http://archive.icann.org/en/tlds/org/applications/neustar/08.html") archive.icann.org/en/tlds/org/applications/neustar/08.html

        br
        a(href="#/2")
            img(width="178",height="238",data-src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png",alt="Up arrow",style="transform: rotate(180deg); -webkit-transform: rotate(180deg);")


section(data-background="./imgs/data-servers.png")
    section
        h1 Where do you live? 
        h3 aka: where is your server located?
        .fragment
            div: img(data-src="./imgs/logo-datadock_en.png")
            img(data-src="http://www.datadock.eu/templates/images/pic-umwelt.jpg")

    section
        div
            img(data-src="./imgs/logo-datadock_en.png")
        div
            img(data-src="./imgs/datadock-facts-and-figures.png")
        p
            small Fonte 
                a(href="http://www.datadock.eu/en/umwelt.php") www.datadock.eu/en/umwelt.php
    section
        div
            img(data-src="./imgs/logo-datadock_en.png")
        div
            img(data-src="./imgs/datadock-energy-savings-calculations.png",height="580")

section(data-background="./imgs/data-servers.png")
    section
        h1 ...where do you live?
        h3 in Germany (Europe)
        ul
            li: span Nearer than United States 
                i &#10003;
            li: span "Our" laws 
                i &#10003;
            li: span Better privacy protection from government 
                i &#10003;

    section
        img(data-src="./imgs/microsoft-germany-datacenter.png")
        p
            small Fonte 
                a(href="http://www.thewhir.com/web-hosting-news/microsoft-considers-german-data-center-amid-us-attempt-access-eu-held-data") www.thewhir.com

section
    section
        h2 Come tratti i tuoi ospiti?
        img(data-src="./imgs/commento-michele-vendita-dati.png")
        p
            small Fonte 
                a(href="https://socialbusinessworld.org/pages/view/59703/perche-iscriversi-a-socialbusinessworldorg-perche-unirsi-a-noi#.Vz1jCrOxVqg") socialbusinessworld.org
    section(data-transition="fade")
        h2 privacy statement was...
        img(data-src="./imgs/SBW-privacy-with-icons.png",width="80%")

    section(data-transition="fade")
        h2 Now the privacy statement is
        img(data-src="./imgs/SBW-privacy-with-icons-without-google-analytics.png",width="80%")

section(data-transition="slide",data-background-transition="convex",data-background="imgs/bang.gif").force-bottom
    div.background
        h2.white-black-shadow we just started!

section
    h1 con quali strumenti?
    h2 which tools do you use?

section
    section
        h2 the social network
        a(href="https://elgg.org")
            img(src="./imgs/elgg no shadow.svg").x80
        p
            small 
                a(href="elgg.org") elgg.org 
                span "Elgg" and the Elgg logo are registered trademarks of Curverider Limited 
    section
        h2 socialbusinessworld.org
        a(href="https://socialbusinessworld.org")
            img(data-src="imgs/sbw-elgg-screenshot.png").x80

section
    section
        h2 the shop
        a(href="https://www.prestashop.com")
            img(data-src="imgs/1024px-PrestaShop_Logo_2015.png").x80
        p
            small 
                a(href="htts://www.prestashop.com") prestashop.com
    section
        h2 shop.socialbusinessworld.org
        a(href="https://shop.socialbusinessworld.org")
            img(data-src="imgs/sbw-prestashop-screenshot.png").x80

section
    h2 Pad real-time
    a(href="http://etherpad.org")
        img(data-src="imgs/etherpad-screenshot.png").x80
    p
        small 
            a(href="http://etherpad.org") etherpad.org

section
    section
        h2 data analytics
        a(href="http://piwik.org")
            img(src="./imgs/piwik-pack/logo/piwik_logo.png").x80
        p
            small 
                a(href="htts://piwik.org") piwik.org

    section
        h2 data analytics (2)
        a(href="http://piwik.org")
            img(src="./imgs/piwik-pack/screenshots_general/dashboard.png",height="970",width="1024")

section
    h2 CRM - gestione clienti 
    a(href="http://vtiger.org")
        img(data-src="imgs/vtiger.png",width="100%")
    p
        small 
            a(href="http://vtiger.org") vtiger.org

section
    h2 sicurezza nelle comunicazioni
    a(href="https://letsencrypt.org")
        img(data-src="imgs/lets-encrypt-logo.jpg")
    p
        small 
            a(href="http://letsencrypt.org") letsencrypt.org

section
    h2 streaming
    a(href="http://obsproject.com")
        img(data-src="imgs/OBSLogoNew80.png",width="250")
    p
        small 
            a(href="http://obsproject.com") obsproject.com
section
    h2 Software di sistema
    ul
        li chi mostra il sito
        li chi smista la e-posta
        li chi raccoglie i dati

    div
        img(data-src="imgs/Apache.jpg",height="100")
        img(data-src="imgs/NGINX.jpg",height="100")
        img(data-src="imgs/postfix.png",height="100")
        img(data-src="imgs/mariadb-badge-180x60.png",height="100")

section
    section
        h2 Il sistema Debian GNU/Linux 
        a(href="http://debian.org")
            img(data-src="imgs/openlogo-nd.svg").x80
        p
            small 
                a(href="http://debian.org") debian.org
    section(data-background="imgs/debconf15.jpg")
        h1.wide Debian non è solo un sistema 
    section
        h2 Debian e la comunità
        img(data-src="imgs/sfida-debian-comunità-ian.jpg",height="400")
    section
        div: img(data-src="imgs/pacchetti-facilitano-la-collaborazione.jpg",height="200")
        img(data-src="imgs/ian.jpg")

section
    h2 Il cuore GNU/Linux 
    a(href="http://gnu.org")
        img(data-src="imgs/heckert_gnu.big.png").x80
    p
        small 
            a(href="http://gnu.org") gnu.org

section
    h2 La storia di Linux
    video(data-autoplay,data-src="la_storia_di_Linux_-_20_anniversario__audio_italiano_.mp4")

section(data-transition="slide",data-background-transition="convex",data-background="imgs/forget.gif").force-bottom
    div.background
        h2.white-black-shadow Non si tratta solo di cosa fanno i tuoi strumenti!

section(data-transition="fade")
    h2 come si comportano?
    h3 Software Libero per una società libera

section(data-background="imgs/from-odp/rms.png")
    h2 nel 1984...
    br
    p: i(style="color:white;font-weight:bold") Tutto software libero, in modo che tutti gli utenti siano liberi.
    p: i(style="color:white;font-weight:bold") All software is free (as in knowledge) so all users are free.

section(data-transition="fade",data-background="imgs/from-odp/freedom-1.png")
    div.background
        h2 Un software è libero se 
        ol(style="color:white;font-weight:bold;width:80%")
            li: span sei libero di usarlo per qualunque scopo 

section(data-transition="fade",data-background="imgs/from-odp/freedom-2.jpg")
    div.background
        h2 Un software è libero se 
        ol(style="color:white;font-weight:bold;width:80%")
            li: span sei libero di usarlo per qualunque scopo 
            li: span sei libero di studiarlo 

section(data-transition="fade",data-background="imgs/from-odp/freedom-3.png")
    div.background
        h2 Un software è libero se 
        ol(style="color:white;font-weight:bold;width:80%")
            li: span sei libero di usarlo per qualunque scopo 
            li: span sei libero di studiarlo 
            li: span sei libero di modificarlo

section(data-background="imgs/from-odp/freedom-4.jpg")
    div.background
        h2 Un software è libero se 
            i &#10003;
        ol(style="color:white;font-weight:bold;width:80%")
            li: span sei libero di usarlo per qualunque scopo 
                i &#10003;
            li: span sei libero di studiarlo 
                i &#10003;
            li: span sei libero di modificarlo
                i &#10003;
            li: span sei libero di diffonderlo
                i &#10003;


section(data-background="./imgs/from-odp/matite.png")
    div.background
        h1 è una comunità che condivide

section
    h2 valori alla base
    ul
        li.fragment: span ecologia della conoscenza 
            i &#10003;
        li.fragment: span collaborazione 
            i &#10003;
        li.fragment: span equità 
            i &#10003;
        li.fragment: span trasparenza 
            i &#10003;
        li.fragment: span rispetto per le persone 
            i &#10003;

section(data-background="./imgs/from-odp/screenshots/contrib.png").fullcover.background-black

section
    h2 opportunità
    ul
        li.fragment: span no lock-in (no manette) 
            i &#10003;
        li.fragment: span no virus 
            i &#10003;
        li.fragment: span no costi di licenza 
            i &#10003;

section(data-transition="slide",data-background-transition="convex",data-background="imgs/fantastic.gif").fullcover

section
    h1 ma...

section(data-transition="slide",data-background-transition="convex",data-background="imgs/omg.gif")
    h2 vogliamo migliorare!
    br
    h3(style="color:red") WARNING: Plesk software is not free!

section(data-background="imgs/from-odp/mani.png")
    h1 what do you value?
    h3 join us and improve the software

section(data-transition="zoom")
    h1 and at last, but not least...

section(data-background="imgs/michele.jpg").fullcover
    h1 thanks Michele
    h2 to believe

